cython
pyyaml
argparse
onnxruntime
tqdm
nemo_toolkit@git+https://github.com/AI4Bharat/NeMo@nemo-v2
transformers
huggingface_hub
pytorch-lightning
hydra-core
librosa
sentencepiece
pandas
lhotse
editdistance
jiwer
pyannote.audio
webdataset
datasets
IPython
joblib
